<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
   <!--  配置session的过期时间 -->
   <session-config>  
   <session-timeout>30</session-timeout>  
   </session-config>  
  
   <!-- 欢迎界面 -->
   <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
   </welcome-file-list> 
    
	<!--  配置Struts2过滤器 -->
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
    <!-- <url-pattern>*.action</url-pattern> -->
  </filter-mapping>
		
	<!-- 配置spring的监听器 -->
 <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param id="ParamValue_1523785965443">
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  <context-param id="ParamValue_1523785965474">
  <param-name>spring.profiles.active</param-name>
  <param-value>dev</param-value>
 </context-param>
 <context-param id="ParamValue_1523785965496">
  <param-name>spring.profiles.default</param-name>
  <param-value>dev</param-value>
 </context-param>
 <context-param id="ParamValue_1523785965518">
  <param-name>spring.liveBeansView.mbeanDomain</param-name>
  <param-value>dev</param-value>
 </context-param>
         
</web-app>